doctype html
html(lang='en')
  head
    title= title
    link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/vendor/sweetalert/dist/sweetalert.css', rel='stylesheet')
  body(ng-app='bookApp')
    nav.navbar.navbar-default(ng-controller='navCtrl')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(ui-sref='home')= title
        #nav-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(ui-sref='books.index')#bookslink Books
            li
              a(ui-sref='register')#registerlink Register              
            li
              a(ui-sref='login')#loginlink Login            
            li
              a#logout(ng-click='logout()') logout
      .container
        ui-view
      
      script(src='/vendor/jquery/dist/jquery.js')
      script(src='/vendor/angular/angular.js')
      script(src='/vendor/angular-ui-router/release/angular-ui-router.js')
      script(src='/vendor/ngstorage/ngStorage.js')
      script(src='/vendor/angular-stripe-checkout/angular-stripe-checkout.js')
      script(src='/vendor/bootstrap/dist/js/bootstrap.js')
      //- script(src='/vendor/sweetalert/dist/sweetalert.js')
      script(src='bundle.js')
              
